h1{
     font-weight: 700;
     font-size: 45px;
     margin: 10px;
     margin-bottom: 20px;
}
input{
      width: 100%;
}

.item{

    text-align: left;

}
.kg-row{
    margin: 20px 10px;
}
.kgbut{
    min-width: 100px;
}